{{>layouts/header}}
<div class="container">
    <div class="py-5 text-center">
        <h2>웹 프로토타입 게시판</h2>
        <p class="lead">아이템 등록</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="/item/insert" method="post" enctype="multipart/form-data">
                <h4 class="mb-3">아이템 등록</h4>
                <div class="row input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">제목</span>
                    </div>
                    <input type="text" class="form-control col-md-12" id="inputTitle" name="title" required>
                </div>

                <div class="row input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">내용</span>
                    </div>
                    <textarea class="form-control col-md-12" id="inputDesc" name="description"  cols="30" rows="10"></textarea>
                </div>
                <hr class="mb-4">
                <div class="row input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">섬네일 이미지</span>
                    </div>
                    <input class="form-control col-md-12" type="file" name="file" id="inputFile">
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit" id="insertBtn">등록하기</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2022 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>
<script type="text/javascript">
    $(document).ready(function (){
        /*$("#insertBtn").on("click", function (){

        });*/
    });
</script>


{{>layouts/footer}}