{{>layouts/header}}
<div class="container">
    <div class="py-5 text-center">
        <h2>웹 프로토타입 게시판</h2>
        <p class="lead">게시물 상세</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#board}}
            <h4 class="mb-3">게시물 상세</h4>
            <div class="row input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Title</span>
                </div>
                <input type="text" class="form-control col-md-12" id="inputTitle" value="{{title}}" disabled>
            </div>

            <div class="row input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">내용</span>
                </div>
                <textarea class="form-control col-md-12"
                          name="inputDesc"
                          id="inputDesc" cols="30" rows="10"
                          disabled>{{desc}}</textarea>
            </div>
            {{/board}}
        </div>
    </div>
    <hr class="mb-4">
    <div class="row">
        <button type="button" class="btn btn-dark" id="commentBtn">댓글쓰기</button>
        <div class="col-md-12" id="commentInsertDiv"></div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2022 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>
<script type="text/javascript">
    $(document).ready(function (){
        $("#commentBtn").on("click", function (){
            let html = "<input type='text' id='inputComment'/>";
            $("#commentInsertDiv").html(html);

        });
    });
</script>

{{>layouts/footer}}