{{>layouts/header}}
<div class="container">
    <div class="py-5 text-center">
        <h2>웹 프로토타입 게시판</h2>
        <p class="lead">게시물 상세</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#board.board}}
            <h4 class="mb-3">게시물 상세</h4>
            <div class="row input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Title</span>
                </div>
                <input type="text" class="form-control col-md-12" id="inputTitle" value="{{title}}" disabled>
            </div>

            <div class="row input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">내용</span>
                </div>
                <textarea class="form-control col-md-12"
                          name="inputDesc"
                          id="inputDesc" cols="30" rows="10"
                          disabled>{{desc}}</textarea>
            </div>
            {{/board.board}}
        </div>
    </div>
    <hr class="mb-4">
    <div class="row input-group mb-3" id="commentInsertDiv">
        <div class="input-group-prepend">
            <input type="hidden" id="inputCommentAuthor" value="{{member.name}}">
            <span class="input-group-text">{{member.name}}</span>
        </div>
        <input type='text' class='form-control col-md-12' id='inputComment' value=''>
        <button type="button" class="btn btn-dark" id="commentBtn">댓글쓰기</button>
    </div>
    <br>
    {{#board.commentList}}
    <div class="row input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">{{authorId}}</span>
        </div>
        <input type="text" class="form-control col-md-12" value="{{desc}}" disabled>
    </div>
    {{/board.commentList}}
    {{^board.commentList}}
    <div class="row input-group mb-3">세
        <div class="input-group-prepend">
            <span class="input-group-text">??</span>
        </div>
        <input type="text" class="form-control col-md-12" id="inputComment" value="댓글이 없습니다." disabled>
    </div>
    {{/board.commentList}}


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2022 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>능
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>
<script type="text/javascript">
    $(document).ready(function (){
        $("#commentBtn").on("click", function (){
            let commentAuthor = $("#inputCommentAuthor").val();
            let commentDesc = $("#inputComment").val();

            let data = {};

            $.ajax({
                url: "/comment/insert",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                dataType: "json",
                success: function (result){

                },
                error: function (x,h,r){

                }
            });
        });
    });
</script>

{{>layouts/footer}}