{{>layouts/header}}
<div class="container starter-template" id="inputDiv">
    <h3>웹 프로토타입 메뉴 리스트</h3>
    <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>
</div>
<script type="text/javascript">

</script>
{{>layouts/footer}}